{% extends 'projectoapp/base.html' %}
{% block content %}
{% block prj_head %}
  <h3 class="footer-copyright text-center py-3">Please Contact Us For Any Query</h3>
{% endblock %}

<ul class="list-group">
  {% for item in contact_list %}
  <li class="list-group-item">
      <span class="text-info">Name: </span> <span>{{ item.name }}</span>
      <br>
      <span class="text-info">Roll No.: </span><span>{{ item.rollno }}</span>
      <br>
      <span class="text-info">Email ID: </span><span><a href="mailto:{{ item.email }}">{{ item.email }}</a></span>
      <br>    
  </li>
  {% endfor %}
</ul>
{% endblock %}
